.payment-content-row {
  display: flex;
  justify-content: space-between;
}

.payment-content-label,
.payment-content-info {
    font-family: 'Poppins';
    font-size: 21px;
}

.payment-content-label {
  font-weight: 400;
}

.payment-content-info {
  font-weight: 600;
}

.mainContainer {
  background-color: #96D6FF;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.innerContainer {
  background-color: #FFFFFF;
  width: 500px;
  /* height: 700px; */
  margin: 30px;
  border-radius: 20px;
}